body{
	background-color:#eeeeee;
}
.content{
	background-color:#eeeeee;
}
.md-block{
	width:40%;
	margin:40px auto;
}

.submitbtn{
	display:block;
	margin:0 auto;
}

.titlebar{
	text-align:center;
}

a{
	text-decoration:none;
	color:red;
	font-weight:bold;
}
